// html{
//   font-size: 10px;
// }
 
//   @media screen and (min-width:1800px) {
//     html{
//     font-size: 25px;
//     } 
//   }
//   @media screen and (max-width:1200px) {
//     html{
//     font-size: 16px;
//     }
//   }
//   @media screen and (max-width:900px) {
//        html{
//     font-size: 10px;
//     }
//   }
//   @media screen and (max-width:600px) {
//         html{
//     font-size: 5px;
//     }
//   }
//   @media screen and (max-width:300px) {
//         html{
//     font-size: 1px;
//     }
//   }
html {
  font-size: 16px; /* 默认字体大小 */

  @media screen and (min-width: 1800px) {
    font-size: 25px; /* 当屏幕宽度大于或等于1800px时，字体大小为25px */
  }

  @media screen and (max-width: 1200px) {
    font-size: 16px; /* 当屏幕宽度小于或等于1200px时，字体大小为16px */
  }

  @media screen and (max-width: 900px) {
    font-size: 10px; /* 当屏幕宽度小于或等于900px时，字体大小为10px */
  }

  @media screen and (max-width: 600px) {
    font-size: 5px; /* 当屏幕宽度小于或等于600px时，字体大小为5px */
  }

  @media screen and (max-width: 300px) {
    font-size: 1px; /* 当屏幕宽度小于或等于300px时，字体大小为1px */
  }
}
